<!DOCTYPE html>
<html>
    <head>
        <title>DocuFiller!</title>
    </head>
    <body style="background-color: lightgrey;">
        <h1 id="title" style="text-align: center;">DocuFiller</h1>
        <div width="200px" style="text-align: center;">
            <form action="/submit" method="POST">
                <p>First Name</p>
                <input type="text" name="firstname" size="25">
                <p>Last Name</p>
                <input type="text" name="lastname" size="25">
		        <p>Address</p>
                <input type="text" name="address" size="25">
                <p>Email</p>
                <input type="text" name="email" size="25">
                <p>Phone Number</p>
                <input type="text" name="phone" size="25">
                <br><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>